<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=us-ascii" http-equiv="Content-Type">
</head>
<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style>
<table align="center" style="background-color: #edf2f9; width: 100%;">
    <tr>
        <td style="text-align: center; padding: 30px 0;">

        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellspacing="20"
                   style="background-color: white; max-width: 700px; padding: 30px; border-radius: 5px;">
                <tr>
                    <td style="color: #576476; font-family: Roboto, sans-serif; float:left; padding-left: 10px; padding-top: 55px; width: 90%;">
                        <h3>
                            Demande de cote temporaire sur <span th:utext="${platformDomain}"></span> !
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-family: Roboto, sans-serif; color: #576476; font-size: 16px;">
                        Votre demande de code temporaire sur <a target="_blank"
                                                                th:href="@{${platformAddress}}"><span
                            th:utext="${platformDomain}"></span></a> a bien &eacute;t&eacute; prise en compte.<br/>
                        Merci d'utiliser ce code pour effectuer votre action.<br/><br/>
                        Code temporaire : <span style="font-weight: bold" th:utext="${otp}"></span><br/><br/>
                        Validit&eacute;: <span style="font-weight: bold" th:utext="${otp_validity}"></span> minutes.
                    </td>
                </tr>
                <tr>
                    <td align="left"
                        colspan="2"
                        style="color: #576476; font-family: Roboto, sans-serif; font-size: 16px;">
                        Cordialement,<br/>
                        L'&eacute;quipe freegate
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr align="center">
        <td>
            <p style="height: 21px;font-family: Roboto, sans-serif; font-size: 0.7em; color: #7f8fa4; text-align: center; margin-top: 25px;">
                Si vous souhaitez faire un retour d'exp&eacute;rience ou un
                commentaire, vous pouvez contacter le support freegate en r&eacute;pondant &agrave; ce courriel.</p>
        </td>
    <tr/>
</table>
</body>
</html>